<AuthorizeView>
    <Authorized>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="dropdown-item">
                <span class="oi oi-account-logout" aria-hidden="true"></span>
                Keluar
            </button>
        </form>
    </Authorized>
</AuthorizeView>
