<div style="position:absolute; top:30vh; width:100%; text-align:center">
    <img src="logo.png" class="img-fluid mb-3" width="200" alt="SIMLAP">
    <h3 class="text-muted">Aplikasi SIMLAP versi 1.0</h3>
    <img src="404.jpg" class="img-fluid" width="150" alt="Not Found" />
    <p>Halaman ini belum tersedia</p>
    <p>
        <a href="" class="btn btn-sm btn-secondary">Kembali ke Dashboard</a>
        <span class="text-muted"><em>atau</em></span>
        <a href="https://wa.me/6285298435050" target="_blank" class="btn btn-sm btn-primary">Hubungi Admin</a>
    </p>
</div>